api.jstitt.dev {
	# api.jstitt.dev/acmmm/sheet
	route /acmmm/sheet* {
		# routes to / directory
		# Example of going to localhost:5000/test
		# api.jstitt.dev/acmmm/sheet/test
		uri strip_prefix /acmmm/sheet
		reverse_proxy 127.0.0.1:5000
	}

  route /philosophy* {
    uri strip_prefix /philosophy
    reverse_proxy 127.0.0.1:5001
  }

	respond "Work in progress... Come back later."
}

# www.jstitt.dev {
  # redir https://api.jstitt.dev{uri}
# }

# Need to add `A` record to DNS to support non `api.` url
# jstitt.dev {
	# respond "In development... Come back later"
# }
